<!DOCTYPE html>
<html>
<head>
  <title>Incarnator</title>
  <%= stylesheet_link_tag    "incarnator/application", media: "all" %>
  <%= javascript_include_tag "incarnator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
